:root {
  --primary-background: #1b1b1b;
  --secondary-background: #202020;
  --secondary-color: #f65282;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
}
h1,
h2,
h3,
.branding {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
}
h1 {
  font-size: 72px;
  line-height: 1.2;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 14px;
  line-height: 1.2;
  color: var(--secondary-color);
}

p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 200;
}
a {
  text-decoration: none;
  color: #fff;
}

.content-container {
  background: var(--primary-background);
  max-width: 1440px;
  margin: 0 auto;
}
nav {
  padding: 30px 140px;
  background: var(--secondary-background);
}
nav li {
  display: inline;
  list-style: none;
  padding-left: 50px;
  line-height: 2;
}
nav ul {
  padding: 0;
}
.active,
a:hover {
  color: var(--secondary-color);
  font-weight: 500;
}

.logo {
  max-height: 25px;
}

.hero {
  text-align: center;
  background-image: url("/images/header-portrait.png");
  background-color: var(--primary-background);
  height: 800px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  padding-top: 158px;
  padding-bottom: 300px;
}
.hero p {
  max-width: 450px;
  margin-bottom: 48px;
}
.about h1 {
  font-size: 64px;
}
.about h3 {
  font-size: 18px;
}
.about p {
  max-width: 600px;
}

.about .my-camera {
  background: #2d2727;
  border-radius: 4px;
  padding: 20px;
  display: inline;
  font-weight: 700;
}
.about .my-camera img {
  padding-right: 10px;
}

.about .contact-button {
  margin-top: 100px;
}
.contact-info {
  margin: 140px auto 75px;
}
.branding {
  border-radius: 50px;
  color: #272142;
  background: #fff;
  padding: 18px 30px;
  font-size: 14px;
  letter-spacing: 5px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 17px;
}
.photos {
  max-width: 1152px;
  margin: 0 auto;
}
.photos img {
  height: 280px;
  margin-top: 20px;
}

footer {
  background: var(--secondary-background);
  padding: 25px 0;
}
footer p {
  text-align: right;
}

.social-icons i {
  padding: 10px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  .about h1 {
    font-size: 30px;
  }
  .about h2 {
    font-size: 15px;
  }
  h2 {
    font-size: 15px;
  }
  .hero {
    height: 400px;
    padding-top: 150px;
    padding-bottom: 100px;
    background-position: bottom center;
  }
  .hero p {
    display: none;
  }
  .about {
    text-align: center;
  }
  .about p {
    font-size: 12px;
    line-height: 1.2;
    padding: 0 10px;
  }

  .my-camera {
    padding: 5px;
  }
  .contact-button {
    margin: 0;
  }
  .branding {
    padding: 8px 12px;
    font-size: 10px;
  }

  .photos img {
    height: auto !important;
    max-width: 100% !important;
    padding: 20px;
  }
  nav {
    padding: 10px 20px;
  }
  nav li {
    padding-left: 20px;
    line-height: 1;
    font-size: 12px;
  }
  .logo {
    max-height: 12px;
  }

  footer {
    padding: 20px;
  }
  footer p {
    text-align: center;
    font-size: 12px;
    line-height: 1;
  }
}

@media (max-width: 991px) {
  .photos img {
    height: 175px;
  }
  .about.photos img {
    height: auto !important;
    max-width: 100% !important;
  }
  .photos {
    max-width: 200px;
  }
}

@media (max-width: 1199px) {
  .photos img {
    height: 200px;
  }
  .photos {
    max-width: 775px;
  }
}
@media (min-width: 1400px) {
  .photos {
    max-width: 1150px;
  }
}
